---
---

@import "{{ site.theme }}";

//section ul {
//  list-style: none;
//  height: 40px;
//  padding: 0;
//  background: #f4f4f4;
//  border-radius: 5px;
//  border: 1px solid #e0e0e0;
//  width:max-content;
//}
//
//section li {
//  width: max-content;
//  min-width: 89px;
//  padding-left: 6px;
//  padding-right: 6px;
//  float: left;
//  border-right: 1px solid #e0e0e0;
//  height: 40px;
//}
//
//section ul a {
//  line-height: 1;
//  font-size: 11px;
//  color: #676767;
//  display: block;
//  text-align: center;
//  padding-top: 6px;
//  height: 34px;
//}
//
//section ul a strong {
//  font-size: 14px;
//  display: block;
//  color: #222;
//}
//
//section ul {
//  list-style:none;
//  height:40px;
//  padding:0;
//  background:#f4f4f4;
//  border-radius:5px;
//  border:1px solid #e0e0e0;
//  width:max-content;
//}
//section li {
//  width: max-content;
//  min-width: 89px;
//  padding-left: 6px;
//  padding-right: 6px;
//  float:left;
//  border-right:1px solid #e0e0e0;
//  height:40px
//}
//section li:first-child a {
//  border-radius:5px 0 0 5px
//}
//section li:last-child a {
//  border-radius:0 5px 5px 0
//}
//section ul a {
//  line-height:1;
//  font-size:11px;
//  color:#676767;
//  display:block;
//  text-align:center;
//  padding-top:6px;
//  height:34px
//}
//section ul a:hover,
//section ul a:focus {
//  color:#675C5C;
//  font-weight:bold
//}
//section ul a:active {
//  background-color:#f0f0f0
//}
//section ul a strong {
//  font-size:14px;
//  display:block;
//  color:#222;
//  text-align:center;
//}
a {
  font-weight: bold;
}

a {
  color:#43a592;
}

a:visited{
  color: #107060;
}

a:hover {
  color: #e53d55;
}

a:active {
  color: #982c37;
}

a:after {
  color: #982c37;
}