---
---

@import "{{ site.theme }}";

// adopt color schema from tentris logo
a {
  font-weight: bold;
}

a {
  color:#43a592;
}

a:visited{
  color: #107060;
}

a:hover, a:focus  {
  color: #e53d55;
}

a:active {
  color: #982c37;
}

a:after {
  color: #982c37;
}